p{
    font-size: 50px;
    font-family: cursive;
    color: aquamarine;
    text-align: center;
}

ul{
 list-style: none;

}
li{
  margin-bottom: 25px; 
  width: 150px;
  
}
.list{
    border: dashed rebeccapurple 5px;
    font-size: 24px;
    text-decoration: none;
    background-color: chartreuse;
    color: blue;
  

}
.list:hover {
    background-color: blue;
    color: chartreuse;
    border: double green 5px;

}
.myButton {
	box-shadow: 3px 4px 19px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:30px;
	border:6px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color: #ff0;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
    box-shadow: 5px 5px yellow;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* CSS */
.button-85 {
  font-size: 24px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}