body {
    color: blueviolet;
    background-color: blue;

    /* Два фонових зображення: перше – фон, друге – GIF внизу */
    background-image: 
        url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTM0LWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg),
        url(https://i.imgur.com/OciHCvJ.gif);
    
    background-size: cover, 200px;
    background-repeat: no-repeat, no-repeat;
    background-position: center, 100% 100%;
    background-attachment: fixed;
}
P{
    ont-size: 0.8in; 
    color: blueviolet;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240103/pngtree-vivid-abstract-texture-a-burst-of-colorful-background-image_13892083.png);
    background-size: cover;    
    padding: 20px;
    border-radius: 15px;   
    
}
div{
    width: 500px;
    height: 500px;
    border-width: 30px solid violet;
    margin: 10px auto; /* щоб блок був по центру */
}
#d1 {
    background-image: url(https://media.istockphoto.com/id/926196952/photo/beautiful-nature-background.jpg?s=612x612&w=0&k=20&c=yMtdCc_l1nR-f2FGfFtk6XZX6Mr5BrAsbnATukkwOVg=);
    background-size: cover;
    background-position: center;
    border-style: double;
    border-color: blue;
}
#d2{
    border-style: solid;
    border-image: linear-gradient(blue,yellow) 30;
    
}
#img1 {
    width: 50%;
    border-radius: 50px;
    display: block;
    margin: auto;
    box-shadow: 0px 0px 50px darkcyan
}

#img2 {
    width: 30%;
    border: 20px double violet;
}