* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.bgvideo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bgvideo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.bgvideo h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw;
    font-weight: bold;
    z-index: 2;
    text-align: center;
    text-shadow: 2px 2px 6px black;
}


nav {
    width: 15%;
    background-color: aqua;
    float: left;
    padding: 10px;
}

main {
    width: 70%;
    background-color: yellow;
    float:left;
    padding: 10px;
}

aside {
    width: 15%;
    background-color: greenyellow;
    float:left;
    padding: 10px;
}

footer {
    background-color: fuchsia;
    height: 200px;
    clear: both;
    text-align: center;
    padding-top: 50px;
}


q {
    quotes: "«" "»" "‹" "›";
    font-style: italic;
    color: darkblue;
}

blockquote {
    border-left: 4px solid darkblue;
    margin: 15px 0;
    padding-left: 10px;
    font-style: italic;
    background-color: #f0f8ff;
}

abbr {
    border-bottom: 1px dotted black;
    cursor: help;
}

cite {
    font-style: normal;
    font-weight: bold;
    color: darkgreen;
}

bdo {
    display: block;
    background-color: #ffebcd;
    padding: 5px;
    margin: 5px 0;
}

address {
    font-style: normal;
    line-height: 1.5;
    background-color: #e0ffe0;
    padding: 10px;
    margin-top: 10px;
}


.myButton {
    margin: 10px;
    box-shadow: 3px 4px 19px 0px #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    background-color:#79bbff;
    border-radius:30px;
    border:6px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color: #ff0;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:10px 30px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}

.myButton:hover {
    background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    background-color:#378de5;
    box-shadow: 5px 5px yellow;
}

.myButton:active {
    position:relative;
    top:1px;
}


@media only screen and (max-width: 800px) {
    nav, main, aside {
        width: 100%;
        float: none;
    }

    .bgvideo h1 {
        font-size: 8vw;
    }

    article {
        border: dashed salmon;
        margin: 10px 0;
    }

    .myButton {
        font-size: 18px;
        padding: 10px 20px;
    }
}
