body{
    background-color: chartreuse;
}
p{
    font-size: 50px;
    background-color: darkred;
    color: darkgreen;
    font-family: cursive;
    text-align: center;
}
table{
    font-size: 24px;
    border: 5px double red;
    width: 50%;
    border-collapse: separate;
    margin: auto;
}
th, td {
    border: 1px solid green;
    width: 25%;
    height: 1cm;
}
tr:hover{
    background-color: grey;
}
td:hover{
    background-image: url(https://media3.giphy.com/media/xThuWcaa4U4XZQDgvm/source.gif);
    font-weight: bold;
    text-align: center;
    color: blue;
    text-transform: uppercase;
    font-size: 1.1em;
}
tr:nth-child(even){
    background-color: bisque;
}
    tr:nth-child(odd){
    background-color: beige;
    }
    .spcell{
        border: 2px dashed blueviolet;
        text-align: right;
        vertical-align: bottom;

    }
    caption{
        background: linear-gradient(to right, 
    red, orange, yellow, green, blue, indigo, violet);
    font-size: 35px;
    text-transform: uppercase;
    }